# Ignore Windows thumbnails
Thumbs.db

# Ignore Visual Studio files
*.obj
*.exe
*.pdb
*.nupkg
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.orig
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
*.DotSettings
[Tt]est[Rr]esult*

# Ignore MonoDevelop files
*.userprefs

# Ignore NUnit project files
*.nunit

# Ignore NuGet Packages
/src/packages/

#Ignore VS files
.vs/

#Ignore lock files
*.lock.json
.idea/
