version: 4.0.0.{build}
skip_tags: true
image: Visual Studio 2017
configuration: Release
build_script:
  - dotnet restore src/NetMQ.sln
  - msbuild src/NetMQ.sln /p:Configuration=Release /p:PackageVersion=%APPVEYOR_BUILD_VERSION%-pre /p:Version=%APPVEYOR_BUILD_VERSION% /verbosity:minimal
  - dotnet pack src/NetMQ/NetMQ.csproj -c Release --no-build /p:PackageVersion=%APPVEYOR_BUILD_VERSION%-pre /p:Version=%APPVEYOR_BUILD_VERSION%
test_script:
  - dotnet test src\NetMQ.Tests\NetMQ.Tests.csproj --configuration Release --no-build
artifacts:
  - path: '**\*.nupkg'
