name: CI
on: [push, pull_request]

jobs:
  ununtu:
    runs-on: ubuntu-latest
    env:
      DOTNET_NOLOGO: true
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          7.0.x
    - run: dotnet restore src/NetMQ.sln
    - name: build 
      run: dotnet build src/NetMQ.sln /p:Configuration=Release /verbosity:minimal
    - name: test net7.0
      run: dotnet test -v n -p:ParallelizeTestCollections=false --configuration Release --no-build -f net7.0 src/NetMQ.Tests/NetMQ.Tests.csproj
  windows:
    runs-on: windows-latest
    env:
      DOTNET_NOLOGO: true
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-dotnet@v3
      with:
        dotnet-version: |
          7.0.x
    - name: Install codecov
      run: |
        choco install opencover.portable 
        choco install codecov
    - run: dotnet restore src/NetMQ.sln
    - name: build 
      run: dotnet build src/NetMQ.sln /p:Configuration=Release /verbosity:minimal
    - name: test net7.0
      run: dotnet test -v n -p:ParallelizeTestCollections=false --configuration Release --no-build -f net7.0 src\NetMQ.Tests\NetMQ.Tests.csproj
    - name: test net48
      run: dotnet test -v n -p:ParallelizeTestCollections=false --configuration Release --no-build -f net48 src\NetMQ.Tests\NetMQ.Tests.csproj
    - name: coverage
      run: |
        OpenCover.Console.exe -register:user -target:"C:\Program Files\dotnet\dotnet.exe" -targetargs:"test --no-build --configuration Release -f net7.0 --logger:trx;LogFileName=results.trx /p:DebugType=full src\NetMQ.Tests\NetMQ.Tests.csproj" -filter:"+[NetMQ*]* -[NetMQ.Tests*]*" -output:".\NetMQ_coverage.xml" -oldStyle
        codecov -f "NetMQ_coverage.xml"
