<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.diagnostics>
    <trace>
      <listeners>
        <remove name="Default" />
        <add name="ThrowingTraceListener" type="NetMQ.Tests.ThrowingTraceListener, NetMQ.Tests" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>